
.row-wrapper {
  width: 100%;
}

.archive-list {
  margin-top: 3em;
}

.fraggle,
.label-fraggle {
  font-size: 16px;
  font-weight: 700;
  margin: 0.5em;
}

.msg-icon {
  font-size: 24px;
}

.table-labels-wrapper,
.row-wrapper,
.message-wrapper {
  width: 100%;
}

.label-fraggle {
  margin: 0 0.5em;
  text-decoration: underline;
}

.author {
  max-width: 128px;
  min-width: 72px;
  margin-left: 0.5em;
}

.hex_char {
  font-size: 24px;
  text-align: center;
  padding: 0 0.5em;
}

.body {
  max-width: 76px;
  min-width: 76px;
}

.date_time {
  min-width: 128px;
  max-width: 72px;
  //margin-right: 2em;
  text-align: right;
}
