#first-hex,#first-trigram-col {
  margin-top: 2em;
}

.trigrams {
  max-width: 25%;
  min-width: 25%;
  padding: 1em 0 0.5em 0.5em;
  border: 1px solid white;
}

.trigram {
  text-align: center;
  max-width: 100%;
  min-width: 100%;
  margin: 0.66em;
  padding: 0.66em;
}
