.hexagram-menu,
.menu-tab {
  background-color: rgb(50,50,50);

}

.hexagram-menu {
  display: none;
}

#hexagram-menu-tabs {
  width:90%;
  margin-top: -0.33em;
}

.menu-tab {
  height: 1.66em;
  border-radius: 6.33px 6.33px 0 0;
  max-width: 20%;
  min-width: 20%;
  padding-top: 0.66em;
  text-align: center;
  font-weight: 700;
  color: grey;
  opacity: 0.72;
}

#left-tab {
  margin-left: 3.66em;
}

#right-tab {
  margin-right: 3.66em;
}

.hex-frame {
  padding: 0.5em;
  margin: 0.5em;
  max-width: 15%;
  min-width: 15%;
  border: 2px solid lightgrey;
  border-radius: 6.33px;
}

.lines-frame,
.name-frame,
.char-frame {
  font-weight: 800;
  font-size: 20px;
  text-align: center;
}

.name-frame {
  display:none;
}

li.nav-option {
  margin: 0 0.5em 0 0.5em;
  max-width: 60px;
  min-width: 60px;
}
