body {
  background-color: black;
  color: grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

a:link,a:visited,a:active,a:hover {
  text-decoration: none;
  color: lightgrey;
  font-weight: 600;
}

a.hav-anchor,
a.subhav-anchor {

}

div#app {
  z-index: 700;
  margin-top: 2em;
}

#relshell,
#relwrap {
  position: relative;
  height:1px;
  width: 100%;
}

#nav-modal-shell {
  height: 1px;
  width: 100%;
  position: relative;
  display:none;
}

#nav-modal {
  position: absolute;
  width: 100%;
  z-index: 800;
}

#nav-hex {
  width: 55px;
  height: 48px;
  margin: 6px;
  border: 2.25px solid grey;
  border-radius: 5px;
  padding-top: 2.25px;
  position: absolute;
  z-index: 800;
  top: -200%;
  cursor: pointer;
}

#hex-modal {
  display: none;
  z-index: 850;
}

#hex-modal-content {
  margin: 0.5em 0.25em 0 0.25em;
}

.meta-col {
  max-width : 40%;
  min-width: 40%;
  padding: 0.16515em;
  margin: 0.333em;
}

.hex-title,
.hex-purport {
  color: lightgrey;
  font-weight: 700;
  //font-size: 18px;
  padding: 0.1em;
  margin: 0.1em;
  text-align: center;
}

.hex-title {
  font-size: 18px;
}

.hex-purport {
  font-size: 14px;
  text-align: left;
}

ul.moving-lines-list {
  list-style: none;
  text-align: left;
  padding-top: 1.33em;
  margin-left: 0;
  margin-right: 0;
  margin-block-start: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
}

li.moving-lines-item {
  margin-left: 0;
  margin-right: 0;
}

.nav-hex-line {
  background-color: grey;
  height: 4px;
  width: 46px;
  margin: 3px 5px;
}

.close-modal {
  width: 90%;
  text-align: right;
  color: lightgrey;
  font-size: 36px;
  cursor: pointer;
}
/*
.close-modal:hover {
  color: lightgrey;
}
*/
#nav-hex:hover {

}

ul#nav-list {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
  width: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

li.nav-option {
  margin: 0 0.5em 0 0.5em;
  max-width: 90px;
  min-width: 90px;
}

ul.nav-sublist {
  list-style: none;
  margin-block-start: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
  width: 100%;
}

li.nav-suboption {
  margin: 0.75em 0;
  //padding: 1.25em 0;

}

div#subnav-modal {
  display: none;
}

#footer-wrap {
  width: 100%;
  position: fixed;
  z-index: 800;
  bottom: 0px;;
}

#hex-refresh,#hex-archive,#hex-mover {
  cursor: pointer;
  font-size: 36px;
  margin: 0.25em;
  color: grey;
}

#hex-refresh:hover,#hex-archive:hover,#hex-mover:hover {
  cursor: pointer;
  color: lightgrey;
}

#hex-mover {
  margin-top: 0.65em;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
}

.flex-col {
  display: flex;
  flex-flow: column wrap;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}
