#wheel-frame {
  height: 320px;
  width: 320px;
}

#wheel-outer {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  background-color: grey;
  cursor: pointer;
  outline: none;
  padding-inline: 0 !important;
  padding-block: 0 !important;
  border: none !important;
}

#wheel-outer-v-align {
  cursor: pointer;
  height: 100%;
}

#wheel-outer:focus {
  outline: 3.33px solid cornflowerblue;
}

#wheel-outer:hover {
  cursor: pointer;
}

#wheel-inner {
  border-radius: 100%;
  height: 100%;
  width: 90%;
  margin: 1em;
  background-color: black;
  cursor: default;
}

#results-table {
  width: 100%;
}

.hex-name {
  margin: 0.1em;
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  z-index: 750;
  background: transparent;
  outline: none;
  padding-inline: 0 !important;
  padding-block: 0 !important;
  color: inherit;
  border: none !important;
}

.control {
  width: 100%;
}

.full-line {
  background-color: red;
  height: 1em;
  width: 200px;
  margin: 0.5em 0 0.5em 0;
}

.half-line-frame {
  width: 200px;
}

.half-line {
  background-color: red;
  height: 1em;
  width: 85px;
  margin: 0.5em 0 0.5em 0;
}

#post-msg {
  max-width: 82px;
  min-width: 82px;
}

#hex-char, #name-char {
  font-size: 36px;
  padding: 0.25em 1em;
  font-weight: 800;
}

#post-tooltip {
  top: -128px;
}
