#trigram-menu {
  margin-top: 3.33em;
  z-index: 330;
}

.trigram-frame {

}

.trigram-char {
  max-width: 300px;
  min-width: 300px;
  font-weight: 600;
  font-size: 22px;
  padding: 0.15em;
  border: 2px solid lightgrey;
  border-radius: 6.66px;
  margin: 0.13em;
  z-index: 330;
  position: relative;
}

.trigram-char .selected-icon {
  display: none;
}

.trigram-char[data-selected="top"] {
  color: red;
  border-color: red;
  background-color: lightsteelblue;
}

.trigram-char[data-selected="bottom"] {
  color: cornflowerblue;
  border-color: cornflowerblue;
  background-color: lightgray;
}

.trigram-char[data-selected="top"] .selected-icon,
.trigram-char[data-selected="bottom"] .selected-icon {
  color: black;
  font-size: 24px;
  display: inline-block;
  position: absolute;
  right: 1em;
  top: 0.4em;
}

.tri-lines-char {
  font-size: 32px;
  font-weight: 800;
  padding-left: 0.5em;
}

.tri-lines-name {
  margin: 0.5em 0 0 0.66em;
}

#tri-hex {
  width: 55px;
  height: 48px;
  margin: 6px;
  border: 2.25px solid lightgrey;
  border-radius: 5px;
  padding-top: 2.25px;
  position: absolute;
  z-index: 700;
  top: -200%;
  right: 12px;
  cursor: pointer;
  background: transparent;
  outline: 2px solid black;
  padding-inline: 0 !important;
  padding-block: 0 !important;
}

#tri-hex:focus {
  outline: 2px solid cornflowerblue;
}

.tri-hex-line {
  background-color: black;
  height: 4px;
  width: 46px;
  margin: 3px 3px;
}

.yin-wrap {
  background-color: black;
}

.half-yin {
  max-width: 20px;
  min-width: 20px;
}

.tri-top {
  background-color: red;
}

.tri-bottom {
  background-color: cornflowerblue;
}

#hex-link {
  border: 2px solid transparent;
  padding: 1em;
  display: inline-block;
}

#hex-link:focus {
  outline: none;
  border: 2px solid cornflowerblue;
}

#hex-link:hover .hex-title {
  text-decoration: underline;
}

#hex-link:hover #hex-char {
  text-decoration: none;
}
