#trigram-menu {
  margin-top: 2em;
}

.trigram-frame {
  border: 2px solid lightgrey;
  border-radius: 6.66px;
  margin: 0.13em;
}

.trigram-char {
  max-width: 300px;
  min-width: 300px;
  font-weight: 600;
  font-size: 22px;
  padding: 0.15em;
}

.tri-lines-char {
  font-size: 32px;
  font-weight: 800;
  padding-left: 0.5em;
}

.tri-lines-name {
  margin: 0.5em 0 0 0.66em;
}

li.nav-option {
  margin: 0 0.5em 0 0.5em;
  max-width: 60px;
  min-width: 60px;
}
